*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'roboto', arial, helvetica, sans-serif;
}
footer{
    height: 160px;
    background-color: #4C4B4B;
    display: flex;
    align-items: center;
    padding: 20px;
}
footer .logo{
    width: 150px;
    height: 150px;
    margin-left: 70px;
}

footer i{
    font-size: 96px;
    margin-left: 10px;
}
footer .link-social{
    margin-left: 750px;
}
a{
    text-decoration: none;
}