body{
    position: absolute;
    background-color: black;
    color: white;
    height: 100%;
}
.cover{
    position: relative;
    width: 100%;
    margin-top: -140px;
    opacity: 0.4;
    z-index: 0;
}
header{
    position: relative;
    z-index: 1;
}
.option{
    display: flex;
    justify-content: space-between;
    width: 439px;
    height: 37px;
    margin-top: 195px;
}
.option a{
    color: white;
    border: 2px solid white;
    border-radius: 18px;
    font-size: 16px;
    padding: 8px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-info{
    display: flex;
    justify-content: space-between;
    width: 520px;
    margin-bottom: 45px;
}
.box-info-1{
    display: grid;
    justify-content: center;
}
.avt{
    width: 204px;
    height: 306px;
    margin-bottom: 11px;
    border-radius: 10px;
}
.btn-watch-film{
    width: 204px;
    height: 43px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 20px;
    
}
.name-film{
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.author-year{
    font-size: 20px;
    margin-bottom: 20px;
}
.movie-episode{
    display: flex;
    justify-content: left;
    margin-bottom: 22px;

}
.movie-episode i{
    font-size: 23px;
    margin-right: 12px;
}
.episode, .star-content, .view{
    font-size: 16px;
}
.box-star i{
    font-size: 19px;
}
.box-star{
    margin-bottom: -3px;
}
.star-rating{
    margin-bottom: 23px;
}
.view{
    margin-bottom: 40px;
    display: flex;
    justify-content: left;
}
table{
    width: 216px;
    height: 94px;
}
tr:first-child td, tr:nth-child(2) td{
    padding-bottom: 15px;
}
td:first-child{
    color: rgba(76, 75, 75, 1);
}
main{
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 180px;
    top: -620px;
    z-index: 0;
}
.content{
    width: 1307px;
    height: 234px;
    font-size: 32px;
    text-align:justify;
}
.top{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 34px;
}
.box-movie-episode{
    width: 1307px;
    height: 267px;
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 3px;
    margin-bottom: 52px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0 0 20px;
}
.btn-episode{
    width: 60px;
    height: 60px;
    background-color: white;
    color: black;
    font-size: 32px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.btn-episode:hover{
    color: white;
}
.box-comment{
    width: 1307px;
    height: 700px;
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 3px;
    margin-bottom: 52px;
    padding: 30px;
    display: grid;
    justify-content: center;

}
.btn-comment{
    width: 190px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}
.box-recomment{
    width: 1304px;
    height: 950px;
}

.card-film-container {
    display: flex;
    flex-wrap: wrap;  /* Cho phép các thẻ div xuống dòng */
    justify-content: space-between;
}
.card-film {
    width: 224px;
    height: 437px;
    margin-bottom: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.fist-main{
    position: relative;
    display: flex;
    justify-content: center;
    top: -450px;
    z-index: 2;
}

.fist-main .main{
    display: flex;
    width: 1302px;
    justify-content: space-between;
}
.box-main{
    display: flex;
    justify-content: center;
}
footer {
    position: relative;
    top: -620px;
}